
.details {
  margin: 5vh 3vw;
  padding: 3vw;
  width: 200px;
  background: #8bacbd;
  line-height: 25px;
  text-align: center;
  height: 200px;
  border-radius: 50%;
  display: flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.loader {
  margin: auto;
}

.error {
  margin: 15px;
  color: #ffffff;
  background-color: #fa9581;
  width: 125px;
  border-radius: 50%;
  height: 125px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

